body {
    background-color: #f5f5f5; 
    margin: 20px;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center; /* Center the header content */
}

h1,h3 {
    color: #333; 
    text-shadow: 2px 2px 2px #ddd; 
    margin: 20px 0; /* Margin to separate from nav */
}

footer {
    background-color: #f5f5f5; 
    padding: 10px;
    font-size: 14px;
    text-align: center;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}




