body {
    background-color: #f5f5f5; 
    display: flex; 
    flex-direction: column; 
    font-family: 'Poppins', sans-serif;
    max-width: 75%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-wrap: nowrap;
}

h1,h3 {
    position: relative;
    margin-left: 0%;
    margin-top: 13%;
    color: #333; 
    text-shadow: 2px 2px 2px #ddd; 
    font-size: 20px;
}

footer {
    background-color: #f5f5f5; 
    padding: 10px;
    font-size: 14px;
    text-align: center;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}

.left-container{
    width: 20%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(../newImg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    

}
.main{
    flex-direction: row;
    display: flex;
    align-items: flex-start;
}

.info-bubbles{
    display: flex;
    flex-direction: row;
    width: 110%;
    max-width: 120%;
    height: 40%;
    background-color: rgba(36, 90, 121, 0.486);
    box-shadow: 0 4px 12px rgba(7, 0, 8, 0.499);
    border-radius: 35px;
    border-color: black;
    margin-top: 5%;
    margin-left: 20%;
    padding: 30px;
    gap: 100px;
    

}
.info-bubble-prop {
    width: 300px;
    height: 300px;
    border-radius: 35px;
    box-shadow: 0 4px 12px rgba(7, 0, 8, 0.499);
    background-color: rgba(96, 60, 34, 0.381);
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin-left: 10%;
    gap: 20px;
}
.info-bubbles-prop {
    display: flex;
    flex-direction: row;
    width: 110%;
    max-width: 120%;
    height: 150%;
    box-shadow: 0 4px 12px rgba(7, 0, 8, 0.499);
    background-color: rgba(174, 121, 83, 0.577);
    border-radius: 35px;
    border-color: black;
    margin-top: 5%;
    margin-left: 28%;
    padding: 30px;
    align-items: center;
}
.info-bubble {
    width: 200px!important; /* Set a fixed width */
    height: 200px!important; /* Set a fixed height */
    border-radius: 35px;
    box-shadow: 0 4px 12px rgba(7, 0, 8, 0.499);
    background-color: rgba(240, 248, 255, 0.148);
    overflow: hidden; /* Ensures text doesn’t expand the bubble */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
    margin-left: 2%;
    padding: 5px;
}


.first-line{
    display: flex;
    flex-direction: row;
    margin-top: 0%;
    margin-left:10%;
}
.column{
    display: flex;
    flex-direction: column;
    height:100vh;
    
}
.info-bubble p{
    line-height:1.8;
    font-size: 20px;
    font-family:'Popins',sans-serif;
}
.options{
    display: flex;
    flex-direction: column;
    margin-top: 40%;
}


