.form button {
    background-color: rgb(153, 107, 27);
    border: 2px solid rgb(66, 66, 2);
    color: #070402;
    font-family: inherit;
    font-size: 25px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    display: block; /* Ensure the button is displayed as a block element */
    margin: 0 auto; /* Center the button horizontally */
    width: auto;
  }
  .form button:hover {
    background-color: rgb(194, 155, 107);
    transition: 0.5s;
  }
  .form-control select {
    background: transparent;
    border: 2px solid #837c76;
    border-radius: 15px;
    display: block;
    width: 97%;
    height: 48px;
    font-size: 14px;
    font-family: inherit;
    padding: 10px;
  }


  .service-item {
    background-color: #f5f5f5; /* Background color for the service items */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.service-item-inner {
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.service-item-inner:hover .overlay {
    opacity: 1;
}



.overlay button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.overlay button:hover {
    background-color: darkred;
}

@media (max-width: 992px) {
    .service-item {
        width: 45%; /* Adjust to 2 properties per row on medium screens */
    }
}

@media (max-width: 768px) {
    .service-item {
        width: 100%; /* Single column on small screens */
    }
}

.overlay h3 {
  color: white;
  font-size: 30px;
  margin: 0;
  text-align: center;
  transition: all 0.5s ease;
  text-transform: capitalize;
}