.form button {
    background-color: rgb(153, 107, 27);
    border: 2px solid rgb(66, 66, 2);
    color: #070402;
    font-family: inherit;
    font-size: 25px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    display: block; /* Ensure the button is displayed as a block element */
    margin: 0 auto; /* Center the button horizontally */
    width: auto;
  }
  .form button:hover {
    background-color: rgb(194, 155, 107);
    transition: 0.5s;
  }
  .form-control select {
    background: transparent;
    border: 2px solid #837c76;
    border-radius: 15px;
    display: block;
    width: 97%;
    height: 48px;
    font-size: 14px;
    font-family: inherit;
    padding: 10px;
  }


 

.overlay button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.overlay button:hover {
    background-color: darkred;
}

@media (max-width: 992px) {
    .service-item {
        width: 45%; /* Adjust to 2 properties per row on medium screens */
    }
}

@media (max-width: 768px) {
    .service-item {
        width: 100%; /* Single column on small screens */
    }
}

