* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;

}

.main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(../newImg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.homeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  top: 60%;
  color: antiquewhite;
  font-family: Poppins, sans-serif;
  text-align: center;
  position: relative;
  user-select: none; 

}


.homeText h1,
h3 {
  font-family: Poppins, sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  top: 20%;
  margin: 0 auto;
  font-family: Poppins, sans-serif;
  text-align: center;
  position: relative;
}

ul {
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: center;
}

ul li {
  list-style: none;
  font-size: 20px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  text-shadow: 4px 4px 15px #373737;
  outline: invert;
}

ul li a:hover {
  color: #ff7200;
}


a.button,
button {
  display: inline-block;
  margin-top: 5%;
  padding: 10px 40px;
  background-color: rgb(57, 56, 56);
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: Poppins, sans-serif;

}

a.button:hover {
  background-color: rgb(187, 183, 178);
  transition: 0.5s;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  ul li {
    margin-left: 20px;
    font-size: 16px;
  }

  a.button,
  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1170px;
  margin-bottom: 2%;
  margin-left: 15%;
  padding: 20px;
}

.content p {
  margin-top: 2%;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  color: rgb(57, 56, 56);

}

.info {
  top: 70%;
  padding: 80px 0 0;
  align-items: center;
  background-color: white;
}

.info-content {
  flex: 0 0 66.66%;
  max-width: 100%;
  padding: 0 15px;
  background-color: white;
  top: 100%;


}

.section-title, .section-title2 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;

}

.section-title h1, .section-title2 h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: rgb(57, 56, 56);
  font-weight: bold;
  font-family: Poppins, sans-serif;
  margin: 4%;
  font-weight: 700;
  position: relative;
}

.section-title h1::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  bottom: -5px;
  width: 35%;
  height: 3px;
  background-color: #ff7200;
}
.section-title2 h1::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  width: 55%;
  height: 2.5px;
  background-color: #ff7200;
}
.icon {
  width: 200px;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.logo {
  text-decoration: none;
  cursor: pointer;
  font-style: italic;
  color: #ff7200;
  font-size: 35px;
  font-family: Poppins, sans-serif;
  padding-left: 20px;
  margin: 5px 0;
  z-index: 9999;
  text-shadow: 4px 4px 15px #6f6c6c;
}

.icon p {
  font-style: italic;
  font-weight: bold;
  color: #ff7200;
  padding-left: 20px;
  font-family: Poppins, sans-serif;
  margin: 0;
}



.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

.stat-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: rgb(141, 136, 136);
  font-weight: bold;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}


.stat-box h2 {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  color: #aca5a5;
  margin: 0 0 5px;
}

.stat-box h5 {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  color: #bbb4b4;
  font-weight: 600;
  text-transform: uppercase;
}
.stat-box:hover {
  cursor: default;
  user-select: none; 

}

#signUp,
#logIn {
  background-color: #c9c5c5;
  padding: 20px 10px;
  color: #7e7777;
  border-radius: 70px;
}

section {
  margin-top: 1%;
}

.property-details {
  width: 100%;
  font-family: Poppins, sans-serif;
  color: #444;
  line-height: 1.8;
  font-size: 16px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 12px rgba(12, 12, 12, 0.224);
  transition: transform 0.6s ease, box-shadow 0.6s ease, border-color 0.6s ease; 
}

.property-details:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 20px rgba(12, 12, 12, 0.3);
  user-select: none; 

}

.property-info {
  margin-bottom: 25px;
  padding: 10px 0;
}

.property-info h2 {
  font-weight: 600;
  color: #333;
  margin-right: 10px;
}

footer {
  background-color: #08242100;
  color: #000000;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  user-select: none; 

}

.footer-content {
  max-width: 1200px;
  margin: auto;
}

.footer-content p {
  margin: 0;
  font-family: Poppins, sans-serif;

}

.socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  color: #010101;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 4px 4px 15px #37373700;
font-weight:lighter;
}

.socials a:hover {
  color: #ff7200;
}