.container {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%);
  border-radius: 20px;
  width: 30%; /* Adjust to desired width on mobile */
  height: auto; /* Allow height to adjust dynamically */
  overflow: hidden;
  margin: 0 auto; /* Center horizontally */
  display: block; /* Ensure the button is displayed as a block element */
}

@media (max-width: 1000px) {
  /* Adjust breakpoint as needed */
  .container {
    width: 90%; /* Make container wider on smaller screens */
    padding-bottom: 20px; /* Reduce padding for better mobile experience */
  }
}

.form {
  padding: 30px 40px;
  color: #242321;
}
.form-control {
  margin-bottom: 5px;
  padding-bottom: 10px;
  position: relative;
  color: #2d2a26;
}
.form-control label {
  display: inline-block;
  text-align: center;
  margin-bottom: 3%;
  color: rgb(170, 164, 157);
}
  
.form-control input {
  background: transparent;
  border: 2px solid #837c76;
  border-radius: 15px;
  display: block;
  width: 92%;
  height: 25px;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
}
.form-control input:focus {
  outline: 0;
  border-color: #6c6228;
}
.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: -50px;
}
.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.form-control.success input {
  border-color: rgb(36, 125, 36);
}
.form-control.error input {
  border-color: #931414;
}
.form-control.success i.fa-check-circle {
  background: none;
  color: #3e721b;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  background: none;

  color: #931414;
}
.form-control small {
  visibility: hidden; /* Hide error message by default */
  color: #931414; /* Error message color */
  position: absolute; /* Position it absolutely */
  bottom: -10px; /* Position below the input */
  right: 0; /* Align to the right */
  font-size: 12px; /* Smaller font size */
}
.form-control i {
  visibility: hidden; /* Hide error message by default */
  position: absolute; /* Position it absolutely */
  right: -12px; /* Align to the right */
  top: 44px;
}
.form-control.error small {
  visibility: visible;
  color: #931414;
  text-align: end;
}

.form .link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}
.form .link a {
  text-decoration: none;
  color: antiquewhite;
}

.icons a {
  text-decoration: none;
  color: antiquewhite;
}
.icons ion-icon {
  color: antiquewhite;
  font-size: 25px;
  transition: 0.3s ease;
}
.icons ion-icon:hover {
  color: #ff7200;
}
.icons {
  margin-left: 13px;
}
.greeting {
  color: #624e24;
  text-align: center;
}
