

.main {
  width: 100%;
  height: 127vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(../newImg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#signUp{
  display:flex;
  flex-direction: column;
  margin:30px;
  backdrop-filter: blur(15px);
  color: #f9f4f4; /* Text color for better contrast, adjust as needed */
  border-radius: 60px; /* Rounded corners */
  box-shadow: 0 10px 12px rgba(12, 12, 12, 0.814);
  align-items: right;
  margin:0 auto;
  justify-content: center;
  width:60%;
}

.container {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%);
  border-radius: 20px;
  width: 50%; /* Adjust to desired width on mobile */
  height: auto; /* Allow height to adjust dynamically */
  overflow: hidden;
  margin: 0 auto; /* Center horizontally */
  display: block; /* Ensure the button is displayed as a block element */
  padding-top:6%;
  padding-bottom:6%;

}


.form {
  padding: 30px 20px;
  color: #242321;
  margin-top:10%;
  margin-bottom:10%;
}
.form-control {
  margin-bottom: 5px;
  padding-bottom: 10px;
  position: relative;
  color: #2d2a26;
}
.form-control label {
  display: inline-block;
  text-align: center;
  margin-bottom: 3%;
  color: rgb(170, 164, 157);
}
  
.form-control input,
.form-control select,
.form-control textarea {
  background: #68858775;
  border: 2px solid #000000;
  border-radius: 15px;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: inherit;
  padding: 15px;
}
.form-control button {
  background-color: #ff7200;
  border: 2px solid #ff7200;
  color: black;
  font-family: inherit;
  font-size: 15px;
  border-radius: 20px;
  padding: 12px;
  margin-top: 20px;
  display: block; /* Ensure the button is displayed as a block element */
  margin: 0 auto; /* Center the button horizontally */
  width: 30%;
}
.form-control button:hover {
  background-color: #ff7200;
  transition: 0.5s;
  cursor:pointer;
}
.form-control a {
  text-decoration: none;
  color: rgb(170, 164, 157);
  display: block; /* Ensure the button is displayed as a block element */
  margin: 0 auto; /* Center the button horizontally */
  text-align:center;
  width: 100%;
}
.form-control input:focus {
  outline: 0;
  border-color: #000000;
}
.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: -50px;
}
.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.form-control.success input {
  border-color: rgb(36, 125, 36);
}
.form-control.error input {
  border-color: #931414;
}
.form-control.success i.fa-check-circle {
  background: none;
  color: #3e721b;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  background: none;

  color: #931414;
}
.form-control small {
  visibility: hidden; /* Hide error message by default */
  color: #931414; /* Error message color */
  position: absolute; /* Position it absolutely */
  bottom: -10px; /* Position below the input */
  right: 0; /* Align to the right */
  font-size: 12px; /* Smaller font size */
}
.form-control i {
  visibility: hidden; /* Hide error message by default */
  position: absolute; /* Position it absolutely */
  right: -12px; /* Align to the right */
  top: 44px;
}
.form-control.error small {
  visibility: visible;
  color: #931414;
  text-align: end;
}

.form .link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}


.icons a {
  text-decoration: none;
  color: antiquewhite;
}
.icons ion-icon {
  color: antiquewhite;
  font-size: 25px;
  transition: 0.3s ease;
}
.icons ion-icon:hover {
  color: #ff7200;
}
.icons {
  margin-left: 13px;
}
.greeting {
  color: #624e24;
  text-align: center;
}

.icon {
  width: 200px;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {   
  text-decoration: none; /* Remove underline from logo link */
  font-style: italic;
  color: #ff7200;
  font-size: 35px;
  font-family: Arial, sans-serif;
  padding-left: 20px;
  margin: 5px 0; /* Space above and below the logo */
}

.icon p {
  font-style: italic;
  font-weight: bold;
  color: #ff7200;
  padding-left: 20px;
  font-family: Arial, sans-serif;
  margin: 0;
}