.main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(../newImg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#signUp {
  display: flex;
  flex-direction: column;
  margin: 30px;
  backdrop-filter: blur(18px);
  background-color: #f9f4f411;
  color: #f9f4f4;
  border-radius: 30px;
  box-shadow: 0 10px 12px rgba(12, 12, 12, 0.814);
  align-items: right;
  margin: 0 auto;
  justify-content: center;
  width: 60%;
}

.container {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%);
  border-radius: 15px;
  width: 55%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  display: block;
  padding-top: 6%;
  padding-bottom: 6%;

}

.form {
  padding: 30px 20px;
  color: #242321;
  margin-top: 10%;
  margin-bottom: 10%;
}

.form-control {
  margin-bottom: 5px;
  padding-bottom: 10px;
  position: relative;
  color: #2d2a26;
}

.form-control label {
  display: inline-block;
  text-align: center;
  letter-spacing: 0.2px;
  margin-bottom: 3%;
  font-weight: 400;
  font-size: 1rem;
  color: antiquewhite;
  margin-top:10px;
}

.form-control input,
.form-control select,
.form-control textarea {
  background: #68858775;
  border: none;
  box-shadow: 3px 3px 5px 6px #192d2d66;
  border-radius: 17px;
  display: block;
  color:antiquewhite;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: inherit;
  padding: 15px;
}

::placeholder {
  color: rgb(123, 121, 121);
  opacity: 1;
}


.form-control button {
  background-color: #ff7200;
  border: 2px solid #ff7200;
  color: black;
  font-family: inherit;
  font-size: 15px;
  border-radius: 20px;
  padding: 12px;
  margin-top: 20px;
  display: block;
  /* Ensure the button is displayed as a block element */
  margin: 0 auto;
  /* Center the button horizontally */
  width: 30%;
}

.form-control button:hover {
  background-color: #e66903;
  transition: 0.5s;
  cursor: pointer;
}

.form-control a {
  text-decoration: none;
  color: rgb(170, 164, 157);
  display: block;
  /* Ensure the button is displayed as a block element */
  margin: 0 auto;
  /* Center the button horizontally */
  text-align: center;
  width: 100%;
}

.form-control input:focus {
  outline: 0;
  border-color: #000000;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: -50px;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.form-control.success input {
  border-color: rgb(36, 125, 36);
}

.form-control.error input {
  border-color: #931414;
}

.form-control.success i.fa-check-circle {
  background: none;
  color: #3e721b;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  background: none;

  color: #931414;
}

.form-control small {
  visibility: hidden;
  color: #931414;
  position: absolute;
  bottom: -10px;
  right: 0;
  font-size: 12px;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  right: -12px;
  top: 44px;
}

.form-control.error small {
  visibility: visible;
  color: #931414;
  text-align: end;
}

.form .link {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.icons a {
  text-decoration: none;
  color: antiquewhite;
}

.icons ion-icon {
  color: antiquewhite;
  font-size: 25px;
  transition: 0.3s ease;
}

.icons ion-icon:hover {
  color: #ff7200;
}

.icons {
  margin-left: 13px;
}

.greeting {
  color: #624e24;
  text-align: center;
}

.icon {
  width: 200px;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  text-decoration: none;
  /* Remove underline from logo link */
  font-style: italic;
  color: #ff7200;
  cursor: pointer;
  font-size: 35px;
  font-family: Poppins, sans-serif;
  padding-left: 20px;
  margin: 5px 0;
  /* Space above and below the logo */
}

.icon p {
  font-style: italic;
  font-weight: bold;
  color: #ff7200;
  padding-left: 20px;
  font-family: Poppins, sans-serif;
  margin: 0;
}