.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .section nav {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 0;
  }
  
  .section a {
    padding: 9px 15px;
    border-radius: 15px;
    text-decoration: none;
    color: inherit;
    margin: 5px;
    color: antiquewhite;
    transition: background-color 0.3s ease;
  }
  
  .section a:hover {
    background-color: #2b3a3ba2;
    /* Change background color on hover */
  }