.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-bottom: 20px;
  position: fixed; 
  top: 10px; 
  right: 10px; 
}

.section nav {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  margin: 0;
}

.section a,
.options a{
  padding: 9px 15px;
  border-radius: 15px;
  text-decoration: none;
  color: antiquewhite;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.section a:hover,
.options a:hover {
  background-color: #2b3a3ba2;
}
