body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 15px;
  padding: 0 15px;
}

.section-title h1 {
  display: inline-block;
  font-size: 40px;
  color: black;
  margin: 0;
  font-weight: 700;
  position: absolute;
  margin-left: 15%;
}

.section-title h1::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 150px;
  height: 3px;
  background-color: #c39b77;
}
