body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
    padding: 0 15px;
}

.section-title h1 {
    display: inline-block;
    font-size: 40px;
    color: black;
    margin: 0;
    font-weight: 700;
    position: relative;
}

.section-title h1::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 80px;
    height: 3px;
    background-color: #c39b77;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Add space between rows and items */
}

.row {
    width: 30%; /* Each property takes up 30% of the width */
    margin-bottom: 20px; /* Add space between rows */
}


.swiper-container {
    width: 100%; /* Full width for each swiper */
    height: 250px; /* Set a fixed height for the swiper */
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images cover the slide without distortion */
}

/* Swiper Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
    color: white; /* Change arrow color to white */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #ccc; /* Change to a lighter shade on hover for visibility */
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px; /* Adjust the size of the arrows */
}

/* Swiper Pagination Dots */
.swiper-pagination-bullet {
    background: white; /* Change bullet color to white */
}

.swiper-pagination-bullet-active {
    background: #ccc; /* Change active bullet color to a lighter shade */
}

.swiper-pagination {
    bottom: 10px; /* Adjust position of the pagination */
}

.section {
    display: flex; 
    flex-direction: column; /* Align items in a column */
    align-items: center; /* Center the items horizontally */
    width: 100%; /* Full width */
    margin-bottom: 20px; /* Space below the section */
}

.section nav {
    display: flex; /* Align items in a row */
    justify-content: center; /* Center the links */
    background-color: #c39b77; /* Background color for the navbar */
    padding: 10px; /* Padding around the navbar */
    border-radius: 10px; /* Rounded corners */
    width: fit-content; /* Change to fit content */
    margin: 0 auto; /* Center the nav horizontally */
}
.section a {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
    margin: 5px;
    transition: background-color 0.3s ease;
}